---
- name: Export all {{ item }}
  awx.awx.export:
    {{ item }}: 'all'
  register: exported_info
  delegate_to: localhost

- name: Export data to file
  ansible.builtin.copy:
    #content: "{% raw %}{{ exported_info | to_nice_yaml( width=50, explicit_start=True, explicit_end=True) |  regex_replace('assets:', '') | regex_replace('changed: false', '') | regex_replace('failed: false', '') }}{% endraw %}"
    #content: "{% raw %}{{ exported_info | regex_replace('assets:', '') | regex_replace('changed: false', '') | regex_replace('failed: false', '') }}{% endraw %}"
    #content: "{% raw %}{{ exported_info | to_nice_yaml( width=50, explicit_start=True, explicit_end=True) |  regex_replace('assets:', '') | regex_replace('changed: false', '') | regex_replace('failed: false', '') | regex_replace('variables: ''---''', '') }}{% endraw %}"
    content: "{% raw %}{{ exported_info | to_nice_yaml( width=50, explicit_start=True, explicit_end=True) |  regex_replace('assets:', '') | regex_replace('changed: false', '') | regex_replace('failed: false', '') | regex_replace('variables: '---'', '') }}{% endraw %}"
    dest: "/tmp/export_files/{{ item }}.yml"

#- name: Cat {{ item }} file
#  ansible.builtin.shell: "cat /tmp/export_files/{{ item }}.yml"
#  #delegate_to: localhost
